@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaPTLight.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaPTMedium.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaPTBold.otf");
    font-weight: 800;
}